.page-header {
    font-family: 'novecento-bold',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1rem;
    line-height: 1.75;
}

.page-content {
    font-size: 0.9rem;

}

.error-404 {
    .search-form {
        
    }
}