// Partial for the 404 page


.page-header {
  @include transformNoviBold;
  letter-spacing: 2px;
  font-size: 1.1rem;
  line-height: 1.75;
}

.page-content {
  font-size: 0.9rem;
  a {
      @include simpleHover;
  }
}

.error-404 {
  .search-form {
    fieldset {
      width: 150px;
      margin-left: 1px;
      padding: 0;
      border: none;
      margin: 0;

      .icon-search,
      .search-submit {
        display: none;
      }

      input[type='search'] {
        padding: inherit;
        font-family: $fontface__main;
        width: auto;
        background-color: #f4f4f4;
        border: $border__solid;
        border-radius: 0;
        margin-top: 0;
        padding: 5px 10px;
        color: $color__border-abbr;
      }
    }
  }

  .widget_archive {
    p {
      margin-bottom: 10px;
    }
  }
}

.error-404 {
  .widget {
      margin: 2.3rem 0;
      ul {
          margin: 0;
          padding-left: 0;
          
          li {
            list-style: none;
            padding-bottom: 0.5rem;
          }
      }
    h2 {
      font-size: 1.5rem;
    }
  }
}

select {
    font-family: $fontface__main;
}
