.page-template-about {
  .entry-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 2px;
    }
    p {
        line-height: 1.75;
    }
  }
}
