//mixin for the about page

.page-template-about {
  .entry-title {
    @include entryTitle;
    color: $color__background;
  }

  .entry-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    h2 {
      @include textStyle;
      font-size: 2rem;
      letter-spacing: 2px;
    }
    p {
      @include lineHeight;
    }
  }
}
