// Common width and header margins

body {
  font-family: $fontface__main;
  h2 {
    @include entryTitle;
  }
  p {
    line-height: 1.75;
  }
}

a {
  text-decoration: none;
}

.content-area {
  padding: 3rem 0;
}

.container {
  @include container-block;
}

.blog,
.page-template-find-us,
.single-post, .error404, .date, .tag, .search {
  .site-content {
    padding-top: 50px;
    display: flex;
    @include container-block;
    .content-area {
      padding: 3rem 0;
      border-right: $border__solid;
      padding-right: 5%;
      width: 70%;
      .site-main {
        display: block;
      }
    }
  }
}




// Commonalities in Search and Archives page

.search, .date, .tag {
  .page-title {
      margin: 0;
      padding-bottom: 1rem;
      border-bottom: $border__solid;
      margin-bottom: 2.5rem;
  }
}



