// Common width and header margins

body {
  font-family: 'Merriweather', sans-serif;
  h2 {
    font-family: 'novecento', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
  }
  p {
    line-height: 1.75;
  }
}

.content-area {
  padding: 3rem 0;
}

.container {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.blog,
.page-template-find-us,
.single-post, .error404, .date, .tag, .search {
  .site-content {
    padding-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    .content-area {
      padding: 3rem 0;
      border-right: $border__solid;
      padding-right: 5%;
      width: 70%;
      .site-main {
        display: block;
      }
    }
  }
}




// Commonalities in Search and Archives page

.search, .date, .tag {
  .page-title {
      margin: 0;
      padding-bottom: 1rem;
      border-bottom: $border__solid;
      margin-bottom: 2.5rem;
  }
}



