/* Find Us */

.page-template-find-us {
  .type-page {
    margin: 0 0 4.5rem;
    .entry-header {
      display: block;
      color: $color__grey;
      .entry-title {
        background: white;
        color: $color__grey;
        @include transformNoviBold;
        letter-spacing: 2px;
        line-height: 1.25;
      }
    }
    .entry-content {
      margin: 1.5rem 0 0;
      figure {
        margin: 0;
      }
      h2 {
        @include transformNoviBold;
        letter-spacing: 2px;
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
        @include lineHeight;
      }
    }
  }
}

.wpcf7 {
  .wpcf7-form {
    p {
      @include transformNovi;
      letter-spacing: 2px;
      font-size: 2rem;
      margin-bottom: 2rem;
      .wpcf7-form-control {
        border: $border__solid;
        border-radius: 0;
        font-size: 14.4px;
        font-size: 0.9rem;
        line-height: 1;
        padding: 0.75rem 1.5rem;
        @include textStyle;
      }
    }
  }
}

input[type='submit'] {
  @include textStyle;
  border: $border__green;
  padding: 10px 25px;
  color: white;
  background-color: $color__green;
  box-shadow: none;
  border-radius: 0;
  @include lineHeight;
  text-shadow: none;
  &:hover {
    background-color: darken($color__green, 10%);
  }
}
