/* Find Us */

.page-template-find-us {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .site-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    .find-us-content-area {
      border-right: 1px solid #e1e1e1;
      padding-right: 5%;
      width: 70%;
      .site-main {
        display: block;
        .type-page {
          margin: 0 0 4.5rem;
          .entry-header {
            display: block;
            .entry-title {
              background: white;
              color: black;
            }
          }
          .entry-content {
            margin: 1.5rem 0 0;
            h2 {
              font-size: 2rem;
              text-transform: uppercase;
            }
            p {
              font-size: 1rem;
              line-height: 1.75;
            }
          }
        }
      }
    }
  }
}
.wpcf7 {

  .wpcf7-form {
      
    .wpcf7-form-control {
    
      background: #248a83;
      border: none;
      border-radius: 0;
      color: #fff;
      
      font-size: 14.4px;
      font-size: .9rem;
      line-height: 1;
      padding: .75rem 1.5rem;
      text-decoration: none;
      text-transform: uppercase;

    }
  }
}
