/* Find Us */

.page-template-find-us {
  .type-page {
    margin: 0 0 4.5rem;
    .entry-header {
      display: block;
      .entry-title {
        background: white;
        color: black;
        text-transform: uppercase;
      }
    }
    .entry-content {
      margin: 1.5rem 0 0;
      h2 {
        font-size: 2rem;
        text-transform: uppercase;
      }
      p {
        font-size: 1rem;
        line-height: 1.75;
      }
    }
  }
}

.wpcf7 {
  .wpcf7-form {
    .wpcf7-form-control {
      background: #248a83;
      border: none;
      border-radius: 0;
      color: #fff;

      font-size: 14.4px;
      font-size: 0.9rem;
      line-height: 1;
      padding: 0.75rem 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
