



h3 {
    color: #d99054;
    
}

footer {
    color: white;
    background: url(../../images/dark-wood@2x.png);
    img {
        max-width: 75%;
    }
}

.underline {
    color: white;
    text-decoration: none;
    &:hover {
       color: white;
       text-decoration: underline; 
    }
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 0;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    .contact {
        flex-basis: 25%;
    }
    .hours {
        flex-basis: 25%;
    }
    .logo-footer {
        display: flex;
        flex-basis: 50%;
        justify-content: flex-end;
        padding-top: 20px;
        a:visited {
            text-align: right;
            padding-top: 1rem;
        }

    }
}


.copyright {
    
    text-align: center;
    padding: 1.5rem 0;
    // font-family: 'novecento';
   
}

i {
    width: 25px;
    font-size: 1.25rem;
}





