// Hero Section

.home {
  flex-direction: column;
  min-height: 100vh;
  .site {
    .site-content {
      padding-top: 0;
      width: 100%;
      .content-area {
        display: block;

        .frontpage-header {
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0.4) 0,
              rgba(0, 0, 0, 0.4)
            ),
            #969696 url(../../images/home-hero.jpg) no-repeat top;
          background-size: cover;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
.home {
  .front-page-journal {
    .entry-meta {
      position: inherit;
      bottom: 0px;
      right: 0px;
      font-size: 1rem;
      bottom: 7px;
      width: 50%;
      text-align: center;
      text-transform: uppercase;
      padding: 5px;
      color: white;
    }
  }
}

// Shop Stuff Section

.frontpage-shop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 200;
  }
  .frontpage-block-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    .frontpage-term {
      line-height: 2;
      border: 1px solid #e1e1e1;
      border-top-width: 5px;
      margin: 20px;
      &:hover {
        border: 1px solid orange;
        border-top-width: 5px;
      }
      img {
        width: 70px;
      }
      .frontpage-term-link {
        a {
          text-decoration: none;
          border: #248a83 solid 1px;
          padding: 10px 25px;
          color: white;
          background-color: #248a83;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            background-color: #144d49;
          }
        }
      }
    }
  }
}

// Journal blog Section

.frontpage-journal {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 200;
  }

  .frontpage-blog-container {
    display: flex;
    justify-content: space-between;
    .journal-entry {
      margin: 15px;
      border: 1px solid #e1e1e1;
      flex: 0 1 32%;
      position: relative;
      .thumbnail-container {
        overflow: hidden;
        position: relative;
        background: #969696;
        img {
          overflow: hidden;
          width: 350px;
          height: 240px;
        }
      }
      .entry-meta-container {
        padding: 1rem;
        text-align: left;
        height: 190px;

        .frontpage-meta-block {
          justify-content: space-between;

          .entry-meta {
            margin-bottom: 5px;
            font-size: 13px;
          }
          .meta-permalink {
            margin-bottom: 2.4rem;
            a {
              color: #248a83;
              text-decoration: none;
              text-transform: uppercase;
              font-size: 1.3rem;
              font-weight: 600;
              &:hover {
                color: black;
              }
            }
          }
        }

        .read-entry {
          &:hover {
            background: #248a83;
            border-color: #248a83;
          }
          color: black;
          border: black solid 1px;
          text-decoration: none;
          padding: 9px 20px;
          font-weight: 100;
          &:hover {
            color: white;
          }
        }
      }
      .entry-meta {
        display: block;
      }
    }
  }
}
