// Main menu

// General Layout of Main Navigation bar

.menu-main-menu-container {
  text-transform: uppercase;
}

// Search box styling

.site-header .search-form .search-field {
  width: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.site-header .search-form .search-field.show {
  width: 160px;
  opacity: 1;
}
.icon-search i {
  color: $color__green;
  width: 20px;
  &:hover {
    color: rgba(212, 188, 144, 0.781);
  }
}

.home,
.page-template-about {
  .icon-search i {
    color: white;
    &:hover {
      color: rgba(212, 188, 144, 0.781);
    }
  }
}

.search-form {
  fieldset {
    border: none;
    .search-field {
      border: 0;
      background: none;
      box-shadow: none;
      padding: 0 0 0 0.65rem;
      width: 0;
      color: white;
    }
  }
}

// Front Page Main Navigation and About page Main Navigation

.home,
.page-template-about {
  .site-content {
    padding: 0;
    .content-area {
      padding: 0;
    }
  }
}

.home,
.page-template-about {
  .site-header {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    padding: 0.5rem 0;

    .main-nav-container {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-left: auto;
      margin-right: auto;
      width: 1120px;
      font-family: 'Merriweather', serif;

      // .site-branding {
      //   // .header-logo {
      //   //   width: 50px;
      //   // }
      // }

      .main-navigation {
        display: flex;
        align-items: center;
        button {
          display: none;
        }
        // .search-form {
        //   // .field-set {
        //   // }
        // }
        .nav-menu {
          display: flex;
          li {
            padding: 0 10px;
            a {
              font-size: 1rem;
              color: white;
              font-family: 'novecento', serif;
              &:hover {
                color: rgba(212, 188, 144, 0.781);
              }
            }
          }
        }
      }
    }
  }
}

.blog,
.page-template-find-us,
.archive,
.single-product,
.single-post,
.error404 {
  .site-header {
    background: rgba(white, 0.8%);
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    padding: 0.5rem 0;
    height: 50px;

    .main-nav-container {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-left: auto;
      margin-right: auto;
      width: 1120px;

      // .site-branding {
      //   // .header-logo {
      //   //   width: 40px;
      //   // }
      // }

      .main-navigation {
        display: flex;
        align-items: center;
        button {
          display: none;
        }
       
        .nav-menu {
          display: flex;
          li {
            padding: 0 10px;
            a {
              font-size: 1rem;
              color: #248a83;
            }
          }
        }
      }
    }
  }
}

.blog,
.single-post,
.page-template-find-us,
.archive,
.error404 {
  .header-logo {
    
    display: none;
  }
}

.home, .page-template-about {

  .header-logo-green {
    
    display: none;
  }
  
}

.header-logo, .header-logo-green {
  width: 50px;
}
