// Main menu

// General Layout of Main Navigation bar

.menu-main-menu-container {
  text-transform: uppercase;
}

body.admin-bar .site-header {
  top: 30px;
}

// Search box styling

.site-header .search-form .search-field {
  width: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.site-header .search-form .search-field.show {
  width: 160px;
  opacity: 1;
}

.icon-search i {
  color: $color__green;
  width: 20px;
}

.home,
.page-template-about {
  .icon-search i {
    color: white;
    &:hover {
      color: $color__background-ins;
    }
  }
}

.search-form {
  fieldset {
    border: none;
    .search-field {
      border: 0;
      background: none;
      box-shadow: none;
      padding: 0 0 0 0.65rem;
      width: 0;
      color: black;
      outline: 0;
    }
  }
}

// Front Page Main Navigation and About page Main Navigation

.home,
.page-template-about {
  .site-content {
    padding: 0;
    .content-area {
      padding: 0;
    }
  }
}
.home,
.page-template-about {
  label .search-field {
    color: white;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
}

.home,
.page-template-about {
  .site-header {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    padding: 0.5rem 0;

    .main-nav-container {
      display: flex;
      justify-content: space-between;
      align-content: center;
      @include container-block;
      font-family: $fontface__main;

      .main-navigation {
        display: flex;
        align-items: center;
        button {
          display: none;
        }
        .nav-menu {
          display: flex;
          li {
            padding: 0 10px;
            a {
              font-size: 1rem;
              color: white;
              font-family: $font__accent;
              &:hover {
                color: $color__background-ins;
              }
            }
          }
        }
      }
    }
  }
}

.blog,
.page-template-find-us,
.archive,
.single-product,
.single-post,
.error404,
.search {
  .site-header {
    background: rgba(white, 0.8%);
    border-bottom: $border__solid;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    padding: 0.5rem 0;
    height: 50px;

    .main-nav-container {
      display: flex;
      justify-content: space-between;
      align-content: center;
      @include container-block;

      .main-navigation {
        display: flex;
        align-items: center;
        button {
          display: none;
        }

        .nav-menu {
          display: flex;
          li {
            padding: 0 10px;
            a {
              font-size: 1rem;
              color: $color__green;
              &:hover {
                color: black;
              }
            }
          }
        }
      }
    }
  }
}

.search-no-results {
  form {
    .icon-search {
      display: none;
    }
    .search-field {
      color: #666;
      background-color: #f1f1f1;
      border: $border__solid;
      border-radius: 0;
      width: 200px;
      outline: 0;
    }
    button {
      display: none;
    }
  }
}

.blog,
.single-post,
.single-product,
.page-template-find-us,
.archive,
.error404,
.search {
  .header-logo {
    display: none;
  }
}

.home,
.page-template-about {
  .header-logo-green {
    display: none;
  }
}

.header-logo,
.header-logo-green {
  width: 50px;
}
