.blog,
.single-post {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .entry-header {
    position: relative;
    text-transform: capitalize;
    img {
      width: 100%;
      height: auto;
    }
    .entry-title {
      
      font-weight: 500;
      position: absolute;
      font-size: 2rem;
      letter-spacing: 1px;
      background-color: $background-h2-color;
      left: 0;
      padding: 0.75rem 1.5rem;
      position: absolute;
      margin-top: 2.25rem;
      max-width: 75%;
      top: 0;
      text-transform: uppercase;
      width: 75%;
      background-color: $color__green;
      a {
        font-family: "novecento-bold", sans-serif;
        text-decoration: none;
        color: white;
        &:hover {
          color: $color__link-hover;
        }
      }
    }
  }
}

.single-post, .blog {
  .entry-meta {
    font-family: $font__accent;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: $color__green;
    font-size: 1rem;
    bottom: 6px;
    width: 55%;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    color: white;
  }
}

.entry-content {
  p {
    margin-bottom: 3rem;
  }
  a {
    &:hover {
      background: $color__green;
      border-color: $color__green;
    }
    color: black;
    border: black solid 1px;
    text-decoration: none;
    padding: 13px;
    &:hover {
      color: white;
    }
  }
}
