.single-post {
  .site-main {
    display: block;
    .hentry {
      margin: 0 0 2.5rem;

        .entry-title {
          color: white;
          font-family: $font__head;
        }
      }
    }


  

  .entry-meta {
    color: white;
    a {
      color: white;
      text-decoration: none;
      font-family: $font__accent;
      &:hover {
        color: $color__background-ins;
      }
    }
  }

  .comments-area {
    padding-top: 2rem;
  }

  .comment-author-avatar img {
    border-radius: 50px;
    height: 64px;
    margin-right: 1.5rem;
    overflow: hidden;
    width: 64px;
  }

  .comment-body {
    display: flex;
  }
  .comments-title {
    font-size: 2rem;
    margin: 0;
  }

  .comment-list {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    .comment {
      padding-top: 1.75rem;
      .comment-body {
        padding-bottom: 1.5rem;
      }
    }
  }

  .children li {
    border-top: $border__solid;
  }
}

.cat-links {
  padding-right: 20px;
}

.single-post {
  .entry-footer {
    background: none;
    color: black;
    @include transformNovi;
    letter-spacing: 1px;
    a {
      color: $color__green;
      @include transformNovi;
      letter-spacing: 1px;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }
}

.comment-author  {
  cite {
    font-family: $fontface__main;
    font-style: normal;
    font-weight: 700;
  }
  
}

.reply {
  @include ahover;
}

.comment-metadata {
  @include ahover;
}


// Comment Posting 

.comment-respond {
  h3 {
    color: #404040;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .comment-form {
    label {
      @include transformNovi;
    }
    label, input {
      display: block;
    }
    
    .comment-form-author, .comment-form-email {
      display: inline-block;
      input {
        min-width: 360px;
      }
      
      
    }
    
   .comment-form-url {
     input {
       min-width: 100%;
     }
     
   }
 
  }
}




input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {
  color: #666;
  background-color: $color__background-screen;
  border: $border__solid;
  border-radius: 0;
}


.form-submit {
  input[type=submit] {
    text-decoration: none;
    border: $color__green solid 1px;
    padding: 10px 25px;
    color: white;
    @include anchor;
    box-shadow: none;
    border-radius: 0;
    @include lineHeight;
    text-shadow: none;
    &:hover {
      background-color: darken($color__green, 10%);;
    }
  }
}
