// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin container-block {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

@mixin ahover {
  a {
    color: $color__green;
    text-decoration: none;
    font-family: $fontface__main;
    &:hover {
      color: black;
    }
  }
}
