// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin container-block {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

//Anchors and hover over buttons

@mixin simpleHover {
  font-family: $fontface__main;
  text-decoration: none;
  color: $color__green;
}

@mixin ahover {
  color: $color__green;
  text-decoration: none;
  font-family: $fontface__main;
  text-transform: uppercase;
  text-decoration: none;
  border: $border__green;
}

@mixin anchor {
  background-color: $color__green;
  text-decoration: none;
  text-transform: uppercase;
  

}



//Entry Title

@mixin entryTitle {
  font-family: $font__accent;
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: 2px;
  color: $color__heading;
}

@mixin FPentryTitle {
  font-family: $font__accent;
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: 2px;
  color: $color__heading;
  text-align: center;
}

@mixin transformNoviBold {
  font-family: $font__head;
  text-transform: uppercase;
}

@mixin transformNovi {
  font-family: $font__accent;
  text-transform: uppercase;
}

@mixin transformMerri {
  font-family: $fontface__main;
  text-transform: uppercase;
}

//uppercased texts

@mixin textStyle {
  text-transform: uppercase;
  text-align: center;
}

//Typography 

@mixin lineHeight {
  line-height: 1.75;
}