.site-content {
  padding-top: 50px;
  .content-area {
    padding: 3rem 0;
  }
}



.tax-product_type {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .site-main {
    display: block;

    .page-header {
      margin-bottom: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-bottom: $border__dashed;
      .shop-term-container {
        display: flex;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-evenly;
        a {
          color: $color__green;
          text-decoration: none;
        }
      }
    }

    .product-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-right: auto;
      margin-left: auto;
      width: 1120px;
      grid-gap: 30px;
      .product-archive {
        border: $border__solid;
      }
      .thumbnail-container {
        background-color: #e1e1e1;
        height: 250px;
        overflow: hidden;
        position: relative;

        img {
          left: 50%;
          min-height: 250px;
          max-width: none;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          border-bottom: 5px solid #e1e1e1;
        }
      }
      .archive-product-info {
        display: flex;
        justify-content: space-around;
        padding: 0.3rem;
        p {
          margin: 0.5rem;
        }
      }
    }
  }
}
