.post-type-archive {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .site-main {
    display: block;

    .page-header {
      margin-bottom: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-bottom: $border__dashed;
      h2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
      .shop-term-container {
        display: flex;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        justify-content: space-evenly;
        a {
          color: $color__green;
          text-decoration: none;
          font-family: 'novecento', sans-serif;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
.archive {
  .product-container,
  .archive-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    width: 1120px;
    grid-gap: 30px;
    .product-archive {
      border: $border__solid;
    }
    .thumbnail-container {
      background-color: $color__whiteBackground;
      height: 250px;
      overflow: hidden;
      position: relative;

      img {
        left: 50%;
        min-height: 250px;
        max-width: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        border-bottom: $border__solid;
      }
    }
    .archive-product-info {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3rem;
      .dots {
        flex: 1;
        overflow: hidden;
        &::after {
          content: '..............................';
        }
      }
      p {
        padding-left: 0.5rem;
      }
    }
  }
}
