.post-type-archive {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .site-main {
    display: block;

    .page-header {
      margin: 5rem 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .product-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-right: auto;
      margin-left: auto;
      width: 1120px;
      grid-gap: 30px;
      .product-archive {
        border: $border__solid;

      }
      .thumbnail-container {
        background-color: #e1e1e1;
        height: 250px;
        overflow: hidden;
        position: relative;

        img {
          left: 50%;
          min-height: 250px;
          max-width: none;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: auto;
        }
      }
      .archive-product-info {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}


.shop-term-container {
    display: flex;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-content: space-evenly;
    a {
        color: green;
        text-decoration: none;
    }
}
