.single-product {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .site-content {
    @include container-block;

    .site-main {
      display: block;
      .product-container {
        display: flex;
        .image-container {
          flex-basis: 50%;
          padding-right: 30px;
        }
        .type-product {
          flex-basis: 50%;
          padding-left: 30px;
          margin: 0;
        }

        .entry-meta {
          .entry-header {
            .entry-title {
              font-size: 2.8rem;
              @include transformNovi;
              margin: 0 0 0.5rem 0;
              color: $color__orange;
            }
          }

          .product-price {
            font-family: $font__accent;
            font-size: 1.8rem;
            p {
              margin-top: 0;
            }
          }
          .entry-content {
            .BodyA {
              line-height: 1.75 !important;
              margin-top: 0;
              font-family: $fontface__main;
            }
          }
        }
      }
    }
  }
}

.product-icon-container {
  display: flex;
  list-style: none;
  margin: 1.5rem 0;
  li {
    padding-right: 20px;
    a {
      text-transform: uppercase;
      padding: 10px 30px;
      &:hover {
        background: $color__green;
        border-color: $color__green;
      }
      color: black;
      border: $border__black;
      text-decoration: none;
      padding: 13px;
      &:hover {
        color: white;
      }
    }
  }
}
