

.widget-area {
    padding: 3rem 0 3rem 5%;
    
    min-width: 30%;
}


.sidebar-phone {
    a {
      color: $background-h2-color; 
      text-decoration: none; 
    }
    
}

.sidebar-mail {
    .underline {
        color: $background-h2-color;
        &:hover {
          text-decoration: none;  
        }
        
    }
}

.sidebar-marker {
    display: flex;
}


.widget_archive {
    
    ul {
        list-style: none;
        margin: 0 0 3rem;
        padding-left: 0;
        a {

        color: $background-h2-color;
        text-decoration: none;
        
        }
    }
}

.widget-area {
    a:hover {
        color: black;
    }
}

body {
    font-family: "Novecento Sans Web", sans-serif;
    a {
        font-family: "Novecento Sans Web", sans-serif;
    }
}