// Structure

$base__space-unit: 1.5rem;

// Colors


$color__background: #ffffff;
$color__green: #248A83;
$color__purple: #2f1339;
$color__orange: #d99054;
$color__yellow: #f0e4d1;
$color__light-grey: #a1a1a1;
$color__medium-grey: #808080;
$color__grey: #404040;









$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #248a83;
$color_link_green_background: white;
$color__link-visited: white;
$color__link-hover: #caa07ebd;
$background-h2-color: #248a83; 

// Typography
$fontface__main: 'Merriweather', serif;
$font__head: "novecento-bold", sans-serif;
$font__accent: "novecento", sans-serif;



// Typography: Original fonts
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// border

$border__solid: 1px solid #e1e1e1;
$border__dashed: 1px dashed #c8c8c8;
